<div id="home_index">
	<div class="panel" id="description">
    <h1>Welcome to H2O, a suite of online classroom tools!</h2>
    <h2>Develop, remix, and share online textbooks filled with edited cases, texts, audio, images, video, and PDFs.</h2>
    <div id="links">
      <a href="#">Create</a>
      <a id="demo" href="#">Demo Video</a>
    </div>
  </div>
  <div class="panel featured_panel" id="featured_playlists">
    <h3>Featured Playlists<span></span></h3>
    <%= render :partial => "partial_results/playlists" %>
  </div>
  <div class="panel featured_panel" id="featured_users">
    <h3>Featured Users<span></span></h3>
    <%= render :partial => "partial_results/users" %>
  </div>
	<div class="cl"></div>
</div>

<%= render :partial => "shared/popup", :locals => { :type => "playlist" } %>
