<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'homepage-logo',
  :url => "/",
  :right_search => 'shared/search_all' } %>

<div id="home_index">
	<div class="panel" id="description">
    <h1>H2O is a suite of online classroom tools that allows professors to freely develop, remix, and share online textbooks.</h1>
    <h2>
      It was developed and provided by the Berkman Center for Internet &amp; Society in collaboration with the Harvard Law School Libary.
      All content created in H2O falls under a Creative Commons Attribution-Noncommercial-Share Alike 3.0 License (per the <a href="/p/terms">
      Terms of Service</a>).
    </h2>
    <div id="links">
      <a href="#">Create</a>
      <a id="demo" href="#">Demo Video</a>
    </div>
  </div>
  <div class="panel featured_panel" id="featured_playlists">
    <h3>Featured Playlists</h3>
    <%= render :partial => "partial_results/playlists" %>
  </div>
  <div class="panel featured_panel" id="featured_users">
    <h3>Featured Users</h3>
    <%= render :partial => "partial_results/users" %>
  </div>
	<div class="cl"></div>
</div>
