#collage article {
  opacity: 1.0;
  font-size:11px;
  color:#000;
  padding:13px 9px 0 35px;
  height:100%; 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #FFF;
}
#collage article p,
#collage article h2,
#collage article h3,
#collage article h4 {
  margin-left: 30px;
}
#collage article .grey { 
  color: #666;
}
#collage article pre {
  white-space: pre-line;
}
#collage article blockquote {
  padding-left: 30px;
  margin: 0px 0px 16px 60px;
}
#collage article blockquote p {
  margin-left: 0px; 
}
#collage article .annotation-content { 
  color: #6b933d; 
  display: none; 
  padding: 0px 0px 0px 3px; 
  font-style: italic;
}
#collage article .annotation-content strong { 
  font-weight: bold;
}
#collage article .annotation-content em { 
  text-decoration: underline;
}
#collage article .annotation-ellipsis { 
  padding: 0px 5px; 
  display: none; 
  color: #336699;
}
#collage article .ann-details { 
  display: none;
}
#collage article .no_visible_children { 
  display: none;
}

#collage .bookmark-action {
  color: #5590CC;
  text-decoration:none;
}
#collage .bookmark-action.inactive {
  opacity: 0.3;
}
.highlight { 
  background: #E0F5BD;
}
#bcollages #tooltip { 
  display: none; 
  width: 200px; 
  opacity: 0.8;
}

/* Collage popup */
.singleitem .popup {
  position:absolute;
  left:0; 
  z-index:1;
  background: #333;
  padding: 10px;
  display:none;
  top: 21px;
  left: 0px;
  width: 150px;
  color: #FFF;
}
.singleitem .popup ul {
  padding-top: 0px;
  line-height: 17px;
}
.singleitem .popup ul li {
  padding-bottom: 5px;
  text-transform: uppercase;
}
.singleitem .popup ul li a { 
  text-decoration: none; 
  display: block;
  font-weight: normal; 
  font-size: 9px; 
  color: #FFF;
}
.singleitem .popup ul li a.inactive {
  opacity: 0.5;
}
.singleitem .popup ul li a.link-o {
  background:#ffcc00;
}
.singleitem .popup #layers strong {
  font-style: italic;
  padding: 5px 10px 5px 0px;
}
.singleitem .popup ul#layers li a {
  display: inline-block;
  padding: 5px;
}
.singleitem .popup ul#layers li#unlayered_li a {
  padding: 10px 0px 0px 0px;
}
#print-container {
  display: inline-block;
}
#print-container form {
  display: inline-block;
}


/* Hover */
#collage article .control-divider:hover,
#collage article .layered-control:hover,
#collage article .annotation-ellipsis:hover,
#collage article .annotation-asterisk:hover,
#collage article .unlayered-control:hover,
#collage article .unlayered-ellipsis:hover {
  cursor: pointer;
}

/* Edit Mode Toggles */
#collage article.edit_mode tt:hover { background: #E0F58D; }
#collage article tt.a { background: none;}
#collage article.edit_mode tt.a { background:#eef9d9; }
#collage article .control-divider { display: none; width: 4px; background-color: #6b933d; height: 16px; margin: 0px 3px 0px 0px; position: relative; top: 2px; }
#collage article.edit_mode .control-divider { display: inline-block; }
#collage article.edit_mode .edit_highlight { background: #EEF9D9; }
#collage article.edit_mode .special_highlight { visibiility: hidden; }
#collage article .layered-control,
#collage article .unlayered-control { width: 9px; height: 16px; }
#collage article.edit_mode .layered-control,
#collage article.edit_mode .unlayered-control { width: 9px; height: 16px; }
#collage article .default-hidden,
#collage article tt.grey { color: #666; }
#collage article.edit_mode .default-hidden,
#collage article.edit_mode tt.grey { color: #000; }

#collage article.hide_unlayered tt { display: none; }
#collage article.hide_unlayered tt.a { display: inline; }
#collage article.hide_unlayered .unlayered-control { display: none; }
#collage article.hide_unlayered .unlayered-ellipsis { display: inline-block; }
#collage article.show_unlayered tt { display: inline; }
#collage article.show_unlayered .unlayered-control { display: inline-block; }
#collage article.show_unlayered .unlayered-ellipsis { display: none; }
/* End Edit mode toggles */

.annotation-asterisk { background: url(/images/ui/asterisk.jpg) no-repeat; display: inline-block; width: 14px; height: 17px; }
.annotation-empty { background: #FFF; height: 13px; width: 0px; position: relative; left: -3px; }
.unlayered-ellipsis { padding-right: 10px; display: none; font-size: 11px; font-weight: normal; color: #336699; font-style: normal; }
.unlayered-control-start,
.layered-control-start { display: none; background: url(/images/ui/fcollapse.png) no-repeat; height: 16px; width: 9px; margin: 0px 3px 0px 0px; position: relative; top: 2px; }
.unlayered-control-end,
.layered-control-end { display: none; background: url(/images/ui/collapse.png) no-repeat; height: 16px; width: 9px; margin: 0px 3px 0px 0px; position: relative; top: 2px; }
.paragraph-numbering { position: absolute; left: 10px; color: #369; text-decoration: none; }

/* Hiding while page is loading */
.singleitem .details .edit-action,
.requires_logged_in,
.requires_edit,
.afterload {
  opacity: 0.0;
}

/* MarkItUp */
/*
.markItUp { width: 100%; border: none; }
.markItUpContainer { border: 1px solid #84919A; }
form.formtastic fieldset > ol > li.text textarea.markItUpEditor { width: 100%; }
.textile .markItUpEditor { background: #FFF url(/images/ui/bg-editor-textile.png) repeat-x; border: none; }
.textile .markItUp .markItUpButton1 a { background-image:url(/javascripts/markitup/sets/textile/images/bold.png); }
.textile .markItUp .markItUpButton2 a { background-image:url(/images/ui/underline.png); }
.textile .markItUp .markItUpButton3 a { background-image:url(/javascripts/markitup/sets/textile/images/link.png); }
*/

/* Annotation Layers */
.new_layer {
  padding: 10px 0px; 
  font-size: 9px;
}
.new_layer p,
.new_layer a {
  font-style: italic;
  color: #474747;
  text-decoration: none;
}
.new_layer p.hex_input {
  margin-top: 3px;
}
.remove_layer {
  font-size: 9px;
}
.hexes a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  border: 2px solid #FFF;
}
.hexes a.active {
  border: 2px solid #000;
}
.hexes a.inactive {
  opacity: 0.25;
}

#collage_tag_list_input .inline-hints,
#collage_description_input .inline-hints {
  margin-left: 0px;
}
#collage_active_input label,
#collage_public_input label {
  padding-left: 0px; 
}
.collage_linked{
  color: blue;
}

#collage_linking {
  opacity: 0.6;
}
#collage_linking small {
  display: block;
}

/* Heatmap */
#collage article tt a.heatmap_tip { 
  position: absolute; 
  left: 50%;
  bottom: 0px;
}

/* Edit */
#edit_item #status_message {
  color: red;
  margin: 10px;
  font-style: italic;
}
#annotation_edit,
#link_edit {
  background: #d5d5d5; 
}
#annotation_edit .dynamic,
#link_edit .dynamic {
  background: #FFF;
  padding: 10px;
  display: none;
}
#text_layer {
  margin-bottom: 10px;
}
#layer_header,
form.formtastic fieldset > ol > li.layer_check {
  float: left;
  margin-bottom: 5px;
  clear: left;
  width: 47%;
}
form.formtastic fieldset > ol > li.layer_check label {
  width: auto;
  padding: 0px 6px;
  display: inline-block;
  float: none;
  text-transform: uppercase;
  line-height: 17px;
  font-size: 10px;
}
form.formtastic fieldset > ol > li.layer_check input {
  position: relative;
  top: 3px;
}
#new_layers {
  float: right;
  width: 47%;
  padding-left: 5%;
  border-left: 1px solid #ccc;
}
#new_layers #add_new_layer {
  font-weight: bold;
  font-size: 10px;
  color: #333;
  text-decoration: none;
}
#annotation_annotation_input {
  clear: both;
}
#annotation_annotation_input label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  color: #333;
}
#annotation_annotation_input textarea {
  width: 96%;
}
#new_annotation .buttons {
  padding-left: 0px;
}
#new_annotation .buttons input {
  font-size:13px; 
  line-height:30px; 
  color:#fff; 
  font-weight:bold; 
  background: #036290;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border: none;
}

/* Annotation Edit */
#annotation_details .tab_panel {
  padding: 10px;
}
#annotation_details .tab_panel h3 {
  margin: 0px;
}
