#playlist #description_less, #playlist #description_more{
  color: #000;
}
#playlist > .playlists { 
  padding-top:1px; display:block; 
  background: #fff;
  padding: 4px;
}
#playlist .playlists ul,
.dd-dragel ul {
  background: #fff;
}
.playlists .playlist { 
  position:relative;
  width:100%;
}
.playlists-edit-mode .playlist {
  padding:2px 0px;
}
.playlists .expanded {
  background: #f0f0f0;
  border-bottom: 1px solid #999999;
}
.playlists .expanded.last {
  border-bottom: none;
}
.playlists-edit-mode .expanded {
  background: #fff;
}
.playlists .playlists,
.dd-dragel .playlists {
  display: none;
  margin-left: 27px;
}
.playlists .playlists .playlists,
.dd-dragel .playlists .playlists {
  margin-left: 52px;
}
.playlists .playlists .playlists .playlists,
.dd-dragel .playlists .playlists .playlists {
  margin-left: 79px;
}
.playlist div.item_description {
  padding-left: 62px;
}
.playlists li.listing {
  height: 1px;
  border-top: 1px solid #cacaca;
  min-height: 1px;
  margin: 5px 0;
}
.playlists li.listing-with-form {
  padding-top: 3px;
  background:-moz-linear-gradient(top, #eeeeee, #cdcdcd);
  background:-webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cdcdcd));
  background: -o-linear-gradient(#eeeeee,#cdcdcd);
  moz-border-radius: 5px; 
  border-bottom-radius: 5px;
  -webkit-border-radius: 5px; 
  border-radius: 5px;
  border: 1px solid #cacaca;
}
.playlists li.listing-with-form h4 {
  display: inline-block;
}
.playlists li.listing-with-form .dd-handle {
  padding-left: 35px;
  background: url(/images/border.png) 25px 0px repeat-y;
}
.playlists li.listing-with-form #playlist_item_form,
.playlists li.listing-with-edit-form #playlist_item_form,
.playlists li.listing-with-delete-form #playlist_item_form {
  padding: 0px 0px 10px 35px;
  background: url(/images/border.png) 25px 0px repeat-y;
}
#playlist_item_form #playlist_item_submit, 
#playlist_item_form #playlist_item_cancel,
#playlist_item_form #playlist_item_delete {
  background: #036290;
  color: #FFF;
  display: inline-block;
  font-size: 11px;
  line-height: 28px;
  padding: 0px 12px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.playlists li.listing .dd-handle {
  display: none; 
}
.playlists .playlist .wrapper {
  border-bottom: 1px solid #999999;
}
.playlists .playlist .wrapper .inner-wrapper {
  padding: 6px 3px;
}
.playlists .last > .wrapper {
  border-bottom: none;
}
.playlists .playlist .wrapper .delete-playlist-item,
.playlists .playlist .wrapper .edit-playlist-item {
  visibility: hidden;
}
.playlists-edit-mode .playlist .wrapper {
  background:-moz-linear-gradient(top, #eeeeee, #cdcdcd);
  background:-webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cdcdcd));
  background: -o-linear-gradient(#eeeeee,#cdcdcd);
  moz-border-radius: 5px; 
  border-bottom-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cacaca;
}
.playlists-edit-mode .playlist .wrapper .delete-playlist-item,
.playlists-edit-mode .playlist .wrapper .edit-playlist-item {
  visibility: visible;
}
.playlists-edit-mode .playlist .wrapper .inner-wrapper {
  background: url(/images/border.png) 25px 0px repeat-y;
}

.playlist .rr {
  position:absolute; 
  top:15px;
  right: 12px;
  width:12px; 
  height:12px; 
  background:url(/images/icons.png) -162px -46px no-repeat; 
  font-size:0; 
  line-height:0; 
  text-indent: -4000px;
}
.playlist .wrapper .rr-closed {
  width: 9px;
  background-position: -563px -67px;
  padding-left: 0px;
}

#playlist .buttons ul .btn-a-active { 
  background:#fff; 
  color:#333; 
  border-bottom:0; 
  padding-bottom:1px;
}
#playlist .buttons ul .btn-a-active { 
  -moz-border-radius-bottomleft: 0px; 
  border-bottom-left-radius: 0px; 
  -webkit-border-bottom-left-radius: 0px;
}
#playlist .buttons ul .btn-a-active { 
  -moz-border-radius-bottomright: 0px; 
  border-bottom-right-radius: 0px; 
  -webkit-border-bottom-right-radius: 0px;
}
#playlist .additional_details {
  padding-left: 50px;
  display: none;
}
#playlist .additional_details span a { 
  display: inline-block;
  margin-right: 5px;
}
#playlist .additional_details .barcode {
  display: inline-block;
  width: 300px;
  position: relative;
  top: 3px;
}
#playlist .additional_details a span.icon {
  opacity: 1.0;
}
#playlist .additional_details .actual_description {
  padding-top: 10px;
}

/*
#url_review { -moz-border-radius: 4px; border: 1px solid #8B9EB3;
  background: url(/images/ui/repeat_bg.png) repeat scroll 0px -21px;
  padding: 5px 10px; color: #FFF; font-weight: bold; text-decoration:none; 
  display: inline-block; margin-top: 10px; font-size: 11px; -webkit-border-radius: 4px; }
#url_review:hover { color: #797979; background-color: #FFF; }
#url_review.inactive {
  opacity: 0.5;
}
*/

/* Right Panels */
#edit_item {
  background: none;
}
#find_items {
  background: #d5d5d5;
}
#edit_item #search_wrapper_outer {
  padding: 0px 10px 10px 10px;
  height: 28px;
}
#edit_item #search_wrapper {
  background: #FFF;
  padding-right: 120px;
}
#edit_item #add_item_term {
  width: 95px;
  border: none;
  font-size: 14px;
  padding: 6px;
  height: 18px;
}
#edit_item #add_item_search {
  color: #FFF;
  float: right;
  display: block;
  background: #036290;
  line-height: 30px;
  padding: 0px 12px;
  font-weight: bold;
  text-decoration: none;
}
#edit_item #select_wrapper {
  float: right;
  display: block;
}
#edit_item #add_item_results {
  clear: both;
  background: #FFF;
}
#edit_item #add_item_results h3 {
  color: #FFF;
  background: #333;
  padding: 10px;
}
#edit_item #add_item_results h3 span {
  font-size: 9px;
  font-style: italic;
  font-weight: normal;
  padding-left: 10px;
}
#edit_item #add_item_results li.listing {
  border-top:1px solid #e0e1e1; 
  padding:3px;
  margin: 5px 5px 0px 5px;
  background:-moz-linear-gradient(top, #eeeeee, #cdcdcd);
  background:-webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cdcdcd));
  background: -o-linear-gradient(#eeeeee,#cdcdcd);
  margin-bottom: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#edit_item #add_item_results li.listing .dd-handle {
  margin-right: 0px;
}
#edit_item #add_item_results li.listing .icon {
  float: left;
  display: block;
}
#edit_item #add_item_results li.listing h4,
.dd-dragel h4 {
  padding-left: 24px;
  color: #323232;
  font-weight: normal;
}
#edit_item #add_item_results .listing_barcode {
  padding: 5px 0px 5px 24px;
}
#edit_item .pagination {
  text-align: center;
  padding: 10px;
}
#edit_item .pagination span,
#edit_item .pagination a {
  display: none;
}
#edit_item #top_pagination .pagination .prev_page,
#edit_item #bottom_pagination .pagination .next_page {
  display: inline-block;
  background: none;
  text-indent: 0px;
  float: none;
  font-weight: bold;
}
#edit_item .pagination span.disabled {
  opacity: 0.5;
}
#edit_item #nestable2 {
  clear: both;
}

#author_playlists a {
  display: block;
  text-decoration: none;
  padding-bottom: 5px;
}
#author_playlists .load_more_pagination a {
  display: none;
}
#author_playlists .load_more_pagination {
  text-align: center;
}
#author_playlists .load_more_pagination a.next_page {
  font-weight: bold;
  display: block;
  /* TODO: Background image */
}

/* Nestable styling */
.dd { 
  position: relative; 
  display: block; 
  margin: 0; 
  padding: 0;
}
.dd-list { 
  display: block; 
  position: relative; 
  margin: 0; 
  padding: 0;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-item { 
  display: block; 
  position: relative; 
  margin: 0; 
  padding: 0; 
  min-height: 20px; 
  font-size: 13px; 
  line-height: 20px;
}
.dd-empty,
.dd-placeholder { 
  display: block; 
  position: relative; 
  margin: 0; 
  padding: 0; 
  height: 1px;
  min-height: 1px; 
  font-size: 13px; 
  margin: 5px 0; 
  padding: 0;
  height: 1px !important;
  border-top: 1px solid #cacaca;
  min-height: 1px;
}

.dd-handle {
  margin-right: 20px;
  /* border: 1px solid red; */
}

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-empty { border: 1px dashed #bbb; min-height: 30px; }

.dd-dragel {
  box-shadow: 10px 10px 5px #888888;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  background: red;
  background:-moz-linear-gradient(top, #c6c6c6, #989898);
  background:-webkit-gradient(linear, left top, left bottom, from(#c6c6c6), to(#989898));
  background: -o-linear-gradient(#c6c6c6,#989898);
  moz-border-radius: 5px; 
  border-bottom-radius: 5px;
  -webkit-border-radius: 5px; 
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 3px;
}

/* Barcode */
#playlist_barcode {
  display: block;
  opacity: 1.0;
  background: none;
  padding: 20px 0px;
}

/* Hiding while page is loading */
button.inactive { opacity: 0.5; }
#playlist .description .toolbar ul li.requires_logged_in,
.requires_logged_in,
.requires_edit,
.requires_remove,
.afterload {
  opacity: 0.0;
}

.singleitem .toolbar #deep-copy-playlist { background: yellow; }
#print-container {
  display: inline-block;
}
#print-container a {
  background:url(/images/icons.png) -270px -70px;
  width: 15px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}



/** ADDED FROM ui.css **/
/* Playlist list items -- needed here because used on users page */
.playlist .controls ul li.link-add a,
.dd-dragel .controls ul li.link-add a {
  background:url(/images/ui/app_icons.png) 0px -69px;
  float: left;
  display: inline;
  width:24px;
  height:23px;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  padding-left: 5px;
}
.playlist .number,
.dd-dragel .number {
  display:inline-block;
  min-width:18px;
  font-size:10px;
  line-height:20px;
  color:#9c9c9c;
  font-weight:bold;
  text-align:center;
  padding: 2px 3px 0px 3px;
}
.expanded .number {
  color:#373737;
}
.playlists-edit-mode .number {
  color: #373737;
}

.playlist .wrapper a.title,
.dd-dragel .wrapper a.title {
  font-size:14px;
  line-height:1.3em;
  font-weight: bold;
  display:inline;
  text-decoration: none;
}
.playlist .wrapper a.action {
  padding-left: 5px;
  text-decoration: none;
  font-size: 12px;
}

.playlists .playlists .playlists .playlists { width:749px; }

.playlists .listitem .icon {
  position: relative;
  top: 4px;
  opacity: 0.8;
}
.playlists .expanded .icon,
.playlists-edit-mode .listitem .icon {
  opacity: 1.0;
}
.playlists-edit-mode .listitem .number {
  opacity: 1.0;
}
#description a.public-notes,
#description a.private-notes {
  color: #036290;
  font-weight: bold;
  text-decoration: none;
  font-size: 10px;
}
