* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color: #333;
    background: #e3e3e3;
}

a { 
  color: #323232;
/*  text-decoration: none; */
  cursor:pointer;
}
a:hover { text-decoration: underline; }
a img { border: 0; }
ul, ol {
  list-style-type: none;
}

input, textarea, select { font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }
blockquote{
  margin-left: 1em;
  margin-right: 1em;
  border-left: .2em solid #999;
  padding-left: 1em;
}
section,aside,hgroup { display:block; }

#error_block { color: #A51514; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
.center { text-align: center; }

#shell {
  padding:0 2px;
  margin:0 auto;
  position:relative;
  display:block;
  max-width: 1094px;
}

nav { float: right; width: 50%; }
nav ul { float: left; display: inline; }
nav ul.right { float: right; }
nav ul li {
  float: left;
  display: inline;
  padding-right:11px;
  margin-right:9px;
}
nav ul li.last { background:none; }
nav ul li a:hover,
nav ul li a.active { color:#b0bdc7; text-decoration:none; }
nav a {
  color:#fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
}
header {
  display:block;
  height:100px;
  background: #333;
  padding: 5px 0px;
  position:relative;
}
footer {
  display:block;
  background:#363636;
  margin-top:58px;
  height:auto !important;
  height:330px;
  min-height:330px;
  padding: 10px;
}
footer #sponsors,
footer #supporters {
  float: left;
  text-align: left;
  width: 19%;
}
footer #sponsors {
  border-right: 1px dotted #FFF;
  margin-right: 10px;
}
footer #sponsors h4,
footer #supporters h4 {
  color: #FFF;
  text-transform: uppercase;
}
#liblab { 
  margin-left: 5px;
  color: #FFF;
}

footer #footer_links {
  text-align: right;
  float: right;
  width: 60%;
}
footer #footer_links a {
  text-transform: uppercase;
  color: #fff;
  padding: 0px 10px; 
  display: inline-block;
  text-decoration: none;
  border-right: 1px solid #FFF;
  font-size: 11px;
  font-weight: bold;
}
footer #footer_links a.last {
  border-right: none;
}
body.bbase_index footer { margin-top: 0px; }

#logo { float: left; display: inline; padding: 0px 0px 10px 52px; }
#logo a { float: left; display: inline; width:92px; height:92px; background:url(/images/h20-logo.png); font-size: 0; line-height: 0; text-indent: -4000px;; }
#playlists-logo { float: left; display: inline; }
#playlists-logo a { float: left; display: inline; width:157px; height:26px; background:url(/images/ui/app_icons.png) 0px -151px; font-size: 0; line-height: 0; text-indent: -4000px; margin-top: 20px; }
.singleitem-logo { float: left; display: inline; }
.singleitem-logo a { float: left; display: inline; width:143px; height:32px; background:url(/images/ui/app_icons.png) 0px -210px; font-size: 0; line-height: 0; text-indent: -4000px; margin-top: 20px; }
#collage-logo { float: left; display: inline; }
#collage-logo a { float: left; display: inline; width:143px; height:32px; background:url(/images/ui/app_icons.png) 0px -210px; font-size: 0; line-height: 0; text-indent: -4000px; margin-top: 20px; }
#cases-logo { float: left; display: inline; }
#cases-logo a { float: left; display: inline; width:112px; height:30px; background:url(/images/ui/app_icons.png) 0px -177px; font-size: 0; line-height: 0; text-indent: -4000px;; margin-top: 17px; }
#text_blocks-logo { float: left; display: inline; }
#text_blocks-logo a { float: left; display: inline; width:181px; height:30px; background:url(/images/ui/app_icons.png) 0px -238px; font-size: 0; line-height: 0; text-indent: -4000px; margin-top: 17px; }
#medias-logo { float: left; display: inline; }
#medias-logo a { float: left; display: inline; width:121px; height:30px; background:url(/images/ui/app_icons.png) 0px -267px; font-size: 0; line-height: 0; text-indent: -4000px;; margin-top: 17px; }

#search { 
  float: right; 
  display: inline; 
  padding:18px 14px 0 0;
  position:relative;
}
#search #spinner { 
  display: none;
}
#search input[type=text] {
  border: none;
  padding: 7px 7px 6px 7px;
  width: 150px; 
}
#search #search_button {
  font-size:11px; 
  line-height:28px; 
  color:#fff; 
  font-weight:bold; 
  background: #036290;
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px;
}
#create_nav {
  opacity: 0.0;
  width: 180px;
  padding-left: 3px;
  position: relative;
}
#create_all {
  background: #036290;
  color: #FFF;
  font-weight: bold;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
}
#create_all span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/small_icons.png) -160px -3px no-repeat;
  margin-left: 15px;
}
#create_all.active {
  background: #ededed;
  color: #333;
}
#create_all.active span {
  background-position: -148px -26px;
}
#create_all_popup {
  background: #ededed;
  display: none;
  position: absolute;
  padding: 20px 20px 10px 20px;
  top: 29px;
  z-index: 2;
}
#create_all_popup a {
  font-size: 11px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #ededed;
  display: block;
}

.breadcrumbs { display:block; padding:14px 12px 7px 32px; }
.breadcrumbs .filter { float: left; display: inline; }
.breadcrumbs .filter p { font-size:12px; line-height:24px; color:#333; }
.breadcrumbs .filter p a { font-size:9px; text-transform:uppercase; font-weight:bold; color:#69c; }

.playlistable-list table { clear: both; width: 100%; }
.playlistable-list table td { padding-bottom: 4px; }
.playlistable-list .pagination { padding: 10px 0px; }

/* Important: .pagination applies to embedded pagers as well as list index pages */
.breadcrumbs .pagination { 
  float: right; 
  display: inline; 
  padding:0px 6px 0 0;
}
.pagination span { 
  float: left; 
  display: inline;
  font-size:10px; 
  line-height:13px; 
  padding-right:7px; 
  margin-right:7px; 
  font-weight:bold;
}
.pagination a { 
  float: left; 
  display: inline; 
  font-size:10px; 
  line-height:13px; 
  padding-right:7px; 
  margin-right:7px; 
  text-decoration: none;
}
.pagination a:hover,
.paginatio a.active { color: #999; }

#results {
}
#results #results_set {
  background: #FFF;
  padding: 2px;
}
#results .search_details {
 background: #c2c2c2;
 padding: 10px;
 clear: both;
 position: relative;
}
#results .search_details h1 {
  font-weight: normal;
}
#results .breadcrumb {
  float: left;
}
#results .sort {
  float: right;
  margin: 5px 0px;
}
#results .pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#results li.listitem {
  background: #fff;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  position: relative;
}
#results li.listitem .details {
  display: inline-block;
  width: 600px;
  padding: 0px 25px 0px 10px;
}
#results li.listitem a {
  text-decoration: none;
  font-weight: bold;
}
#results li.listitem .list-icon {
  display: block;
  float: left;
  position: relative;
  top: 2px;
}
#results li.listitem .details h4 {
  padding-bottom: 4px;
}
#results li.listitem .details h4 a {
  font-size: 14px;
  padding-right: 5px;
}
#results li.listitem .right_details {
  float: right;
}
#results li.listitem .controls {
  display: inline-block;
  opacity: 0.0;
  text-align: right;
}
#results li.listitem:hover {
  background: #f0f0f0;
}
#results li.listitem h4 .action,
#results li.listitem h4 .icon {
  visibility: hidden;
}
#results li.listitem:hover .controls,
#results li.listitem:hover h4 .icon {
  opacity: 1.0;
  visibility: visible;
}
#results li.listitem:hover p a,
#results li.listitem:hover h4 a {
  color: #036290;
}
#results li.listitem .details h4 .read-action {
  text-indent: 0px;
  font-size: 10px;
}
#results li.listitem .details h4 .read-action span {
  margin-right: 5px;
}
#results li.listitem:hover .details h4 .read-action {
  color: #323232;
  opacity: 1.0;
  visibility: visible;
}
#results li.listitem .barcode {
  width: 200px;
  float: right;
}
#results li.listitem .barcode_outer {
  opacity: 0.5;
}
#results li.listitem:hover .barcode_outer {
  opacity: 1.0;
}
#results .listitem .controls a { 
  display: inline-block; 
  line-height: 0; 
  padding-left: 10px;
  font-size: 10px;
}
#results .listitem .controls a span {
  padding-right: 5px;
  position: relative;
  top: 4px;
}

/* Media Icons */
.media-icon-type-video {
  background-position: -204px -273px;
  width: 20px;
}
.media-icon-type-audio {
  background-position: -144px -275px;
}
.media-icon-type-pdf {
  background-position: -186px -275px;
}
.media-icon-type-image {
  background-position: -165px -275px;
  width: 20px;
}
#media_detail {
  margin-bottom: 0.5em;
}
#media_content_input abbr {
  display: none;
}
#media_detail p {
  width: 74%;
  display: inline-block;
}

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel { display:none !important; }
div.rating-cancel,div.star-rating{float:left;width:8px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden; padding-right:2px;}
div.rating-cancel,div.rating-cancel a{background:url(delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(/images/ui/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */

/* Home Page */
#home_index {
  background: #FFF;
  padding: 0px 63px 0px 52px;
}
#home_index .panel {
  float: left;
  width: 280px;
}
#home_index #description {
  width: 330px;
  padding-right: 25px;
  font-family: Georgia, serif;
  margin-top: 55px;
}
#home_index #description h1 {
  font-size: 28pt;
  line-height: 36pt;
  padding-bottom: 20px;
}
#home_index #description h2 {
  font-weight: normal;
  font-size: 17pt;
  line-height: 30pt;
}
#home_index #description #links {
  padding-top: 20px;
  display: none;
}
#home_index #description #links a {
  line-height:28px;
  font-weight:bold; 
  padding: 3px 50px 3px 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  color:#fff;
  font-size:18px;
  background:#036290;
  display: inline-block; 
  text-decoration: none;
}
#home_index #featured_playlists {
  width: 300px;
  padding-right: 10px;
  margin-bottom: 15px;
}
#home_index #featured_playlists .barcode_wrapper {
  right: auto;
  left: 0px;
}
#home_index .featured_panel h3 {
  margin-top: 25px;
  background: #d5d5d5;
  padding: 20px 10px 2px 10px;
  font-family: Georgia, serif;
  font-size: 21pt;
  font-weight: normal;
}
#home_index .featured_panel h3 span {
  display: inline-block;
  border: 1px dashed #000;
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
#home_index #featured_users h3 span {
  background: url(/images/medium_icons.png) -40px -54px no-repeat;
  border: none;
  position: relative;
  top: 2px;
}
#home_index .featured_panel div.item {
  background: #f0f0f0;
  margin-top: 3px;
  padding: 5px 10px 10px 10px;
  opacity: 0.7;
}
#home_index .featured_panel div.item:hover {
  opacity: 1.0;
}
#home_index .featured_panel div.item a {
  text-decoration: none;
  display: block;
  font-weight: bold;
}
#home_index .featured_panel div.item a.item_link {
  display: inline-block;
  line-height: 20px;
  padding: 5px 10px 0px 0px;
}
#home_index .featured_panel div.item:hover a.item_link,
#home_index .featured_panel div.item:hover a.author {
  color: #036290;
}
#home_index .featured_panel div.item a.author {
  font-weight: normal;
  padding: 2px 0px 5px 0px;
}
#home_index .featured_panel div.item .affiliation {
  padding-bottom: 3px;
  display: block;
}
#home_index .featured_panel div.item .additional_details {
 display: none;
 padding-top: 5px;
}
#home_index .featured_panel div.item .additional_details a {
  display: inline-block;
  padding-right: 10px;
  font-size: 10px;
}
#home_index .featured_panel div.item .additional_details a span {
  padding-right: 5px;
  position: relative;
  top: 4px;
}

#home_index #featured_users a.user {
  padding-bottom: 5px;
}
#home_index .featured_panel .load_more_pagination {
  padding-top: 10px;
}
/* End Home Page */

/* Load More Pagination Common Styles */
.load_more_pagination span,
.load_more_pagination a {
  display: none;
}
.load_more_pagination a.next_page {
  display: block;
  background: none;
  text-indent: 0px;
  width: auto;
  text-decoration: none;
}


#description,
#description_more,
#description_less {
  font-size:12px; 
  line-height:1.5em; 
  color:#616e5c;
}
#description p,
#description_more p,
#description_less p { margin-bottom: 10px; }
.link-more, 
.link-less { font-size:9px; text-transform:uppercase; font-weight:bold; }
#description_more { display: none; }
.singleitem .details .edit-action {
  text-transform:uppercase;
  font-weight:bold;
  text-decoration: none;
  color: #036290;
}

/* Popup */
.add-popup { position:absolute; z-index:1; background:#fff; border: 1px solid #666; 
  padding: 4px 9px 10px;  display:none;
  top: 0px; left: 0px; background: #FFF; }
.popup h4 {
  font-size:11px;
  line-height:18px;
  text-transform:uppercase;
  padding-bottom:11px;
  float: left;
  width: 200px;
}
.popup .close-popup {
  background: #000;
  width: 15px;
  height: 15px;
  display: block;
  float: right;
}
.popup select {
  width:230px;
}
.popup .select-wrapper {
  clear: both;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.popup .btn-wrapper {
  text-align: center;
}
.popup .btn {
  background: #036290; 
  color: #FFF; 
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
  display: inline-block;
}

#my_playlists { display: none; }

/* Bookmark */
#my_bookmarks, #bookmarks { display: none; }
#bookmarks .playlist .data .dd-open { left: -15px; }

#my_bookmarks .playlist .data p { float: left; display: inline; font-size:10px; line-height:16px; clear:both; }

#my_bookmarks .playlists .playlists { display:none; padding-left:74px; padding-top:10px; position:relative; width:894px; }
#my_bookmarks .playlists .playlists .data { padding-right:271px; }
#my_bookmarks .playlists .playlists .playlists { width:823px;}
#my_bookmarks .playlists .playlists .playlists .data { padding-right:197px; }
#my_bookmarks .playlists .playlists .playlists .playlists { width:749px; }
#my_bookmarks .playlists .playlists .playlists .playlists .data { padding-right:119px; }
#my_bookmarks .playlists .full-list-link { position:absolute; top:13px; right:0; width:78px; height:24px; background:#d8dada; color:#333; text-align:center; font-size:10px; line-height:24px; font-weight:bold; }

#header_login { 
  float: right; 
  padding: 0px 15px; 
  text-decoration: none;
}
#header_login.active { background: #FFF; color: #000; }

.standard-form { padding: 20px; }
#login-popup { display: none; position: absolute; top: 38px; right: 0px;
background: #FFF; z-index: 1000; width: 642px; box-shadow:#777 -4px 10px 20px;
-moz-box-shadow:#777 -4px 10px 20px; -webkit-box-shadow:#777 -4px 10px 20px;
-o-box-shadow:#777 -4px 10px 20px; -ms-box-shadow:#777 -4px 10px 20px; padding: 0px; }
.standard-form h3,
.standard-form h2 { color: #4e9ed1; font-size: 16pt; font-weight: normal; padding-bottom: 20px; }
.standard-form .errorExplanation { color: #4e9ed1; margin-bottom: 20px; }
.standard-form .errorExplanation ul { margin-left: 20px; }
.standard-form .left { float: left; width: 321px; padding: 25px 0px; text-align: center; }
.standard-form .left h3 { text-align: center; width: 90%; padding: 0px 10px 20px 10px; }
.standard-form .right { float: right; width: 230px; padding: 25px 46px 15px 40px; border-left: 1px solid #d9d9d9; }
.standard-form .border { border-top: 1px solid #d9d9d9; width: 100%; display: block; height: 1px; margin: 20px 0px; }
.standard-form .button { background: url(/images/ui/repeat_bg.png) 0px -49px repeat; border-radius: 4px;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #dbdbdb; 
color: #4e9ed1; padding: 4px 11px; }
.standard-form label { text-transform: uppercase; font-size: 9px; font-weight: bold; display: block; }
.standard-form input.text { margin-bottom: 15px; background: #FFF; border: 1px solid #999; padding: 2px; }
.standard-form #forgot { display: inline-block; margin: 10px 0px 20px 0px; text-align: center; }
.standard-form .remember { margin-bottom: 15px; }
.standard-form .remember input { position: relative; top: 2px; margin-right: 3px; }
.standard-form .remember label { font-weight: normal; display: inline-block; }

.bookmarked { color: #A6DB31; padding-left: 10px; font-size: 10px; font-weight: bold; }
.bookmarked a { padding-left: 5px; }
h2 .bookmarked { color: #FFF; }

/* MCE */
.mce_switches {
  margin: 10px 25px 0px;
}
.mce_switches a {
  text-decoration: none;
  height: 18px;
  float: right;
  padding: 4px 5px 2px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #DFDFDF #DFDFDF #CCC;
  color: #999;
  background-color: #F1F1F1;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  margin-left: 5px;
  position: relative;
  bottom: -1px;
}
.mce_switches .current {
  background-color: #E9E9E9;
  color: #333;
  border-color: #CCC #CCC #E9E9E9;
}

/* Print Container */
.singleitem .toolbar ul li#print-container { position: relative; padding: 0px; }
.singleitem .toolbar ul li#print-container > a { padding: 0px 8px; background-position: -170px -36px; }
.singleitem .toolbar ul li .print-popup { position:absolute; left:0; z-index:2;
  background:#fff; border: 2px solid #666; 
  padding: 4px 9px 10px;  display:none;
  left: -186px; background: #FFF;
  width: 200px; border: 1px solid #6D87A2; top: 27px; }
.singleitem .toolbar ul li .print-popup ul { padding-top: 0px; line-height: 17px; }
.singleitem .toolbar ul li .print-popup ul li { padding-bottom: 3px; text-transform: uppercase; border: none; }
.singleitem .toolbar ul li .print-popup ul li { padding-bottom: 3px; text-transform: uppercase; border: none; }
.singleitem .toolbar ul li .print-popup ul li strong input { position: relative; top: 2px; }
.singleitem .toolbar .print-popup ul li a { border-radius:3px; -moz-border-radius:3px;
-webkit-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; 
text-decoration: none; float: left; display: inline; margin-left: 3px; 
font-weight: normal; padding: 0px 7px; font-size: 9px; background: #69c;
color: #FFF; background: url("/images/ui/repeat_bg.png") repeat scroll 0 -73px transparent;
text-indent: 0px; width: auto; height: auto; border: 1px solid #6D87A2; }
/*
.singleitem .toolbar ul li#print-container > .btn-a-active {
background: url(/images/ui/app_icons.png) -129px -38px; border-bottom:0;
z-index: 100; padding: 0px 8px 0px 8px; position: relative; }
*/

#generic-node #generic_title {
  display: none;
}

/* Tipsy */
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner {
  background-color: #c4eb80; 
  color: #000;
  max-width: 200px;
  padding: 9px;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

  .tipsy-arrow { position: absolute; width: 0; height: 0; border: 5px solid transparent; }
  .tipsy-arrow-n { border-bottom-color: #C4EB80; }
  .tipsy-arrow-e { border-left-color: #C4EB80; }
  .tipsy-arrow-w { border-right-color: #C4EB80; }
  .tipsy-arrow-s { border-top-color: #c4eB80; }
  .tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow { top: 0; border-top: none; }
  .tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow { bottom: 0; border-bottom: none; }
  .tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow { left: 50%; margin-left: -5px; }
  .tipsy-nw .tipsy-arrow, .tipsy-sw .tipsy-arrow { left: 10px; }
  .tipsy-ne .tipsy-arrow, .tipsy-se .tipsy-arrow { right: 10px; }
  .tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow { top: 50%; margin-top: -5px; }
  .tipsy-e .tipsy-arrow { right: 0; border-right: none; }
  .tipsy-w .tipsy-arrow { left: 0; border-left: none; }

/* Terms */
#public_active_terms {
  font-style: italic;
  margin-bottom: 8px;
}
#public_active_terms a {
 text-decoration: underline;
}
#terms_require {
  text-align: center;
}
#terms_require a {
  color: #369;
  text-decoration: underline;
}

/* Notifications */
#case_request_notification {
  color: red;
  padding-bottom: 10px;
}
#case_edit_notification {
  color: red;
  padding: 10px 10px 0px 30px;
}
/* Defect tab slideout */
.slide-out-div {
  padding: 20px;
  width: 600px;
  background: #ccc;
  border: 1px solid #29216d;
  z-index: 10000;
}
#user-feedback-instruction {
  margin-bottom: 20px;
  font-style: italic;
}
#user-feedback-success {
  font-style: italic;
  display: none;
  color: red; 
  margin-bottom: 15px;
}
#user-feedback-error {
  display: none;
  color: red; 
  margin-bottom: 15px;
}
.slide-out-div #defect_submit {
  border: 1px solid #6D87A2;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  background: url(/images/ui/repeat_bg.png) 0px -73px;
  padding: 5px 9px;
  color: #FFF;
  margin-left: 25%;
  font-weight: bold;
  font-size: 9px;
  line-height: 20px;
  text-decoration: none;
}

/* Users */
ul.user_captcha { margin-bottom: 10px; }
ul.user_captcha > li p.inline-errors { display: none; }

/* Visibility Selector */
#terms_require p{width: 300px; text-align:left}

/**** NEW ****/

/* Global Single Item Styles */
.fixed_link {
  position: fixed;
  right: 0px;
  width: 100px;
  top: 240px;
  color: red;
  background-color: #FFF;
  text-indent: -4000px;
  background-image: url(/images/small_icons.png);
  padding: 5px;
}
#collapse_toggle {
  background-position: 0px -4px;
  width: 13px;
}
#edit_toggle {
  top: 267px;
  background-position: -85px -36px;
  width: 13px;
}
#collapse_toggle.expanded,
#edit_toggle.edit_mode {
  background: red;
}

.singleitem {
  display:block;
  padding:11px 7px;
  position:relative;
  height:100%;
  float: left;
  width: 70%;
}
.singleitem h1,
.singleitem h3 {
  display: inline-block;
  font-size: 16px;
}
.singleitem h5 {
  font-size: 12px; 
}
.singleitem h5 span {
  display: block;
  font-size: 12px;
}
.singleitem .asides {
  float: right;
  width: 300px;
}
.singleitem .toolbar {
  display: block;
  float: right;
  width: 300px;
  visibility: hidden;
  text-align: right;
}
.singleitem .toolbar ul li {
  display:inline-block;
  padding:0 8px;
}
.singleitem .toolbar ul li .print-popup ul li {
  padding-bottom: 3px;
  border: none;
}
.singleitem .toolbar ul li img {
  display:block;
}
.singleitem .details {
  margin-top: 10px;
  background: #c2c2c2;
  display:block;
  position:relative;
  padding: 10px;
}
.singleitem .details h5 { font-size:10px; line-height:1.8em; font-weight:normal; padding-bottom:2px; }
.singleitem .details p { font-size:12px; line-height:1.5em;}
.singleitem .details p .link-more, 
.singleitem .details p .edit-action,
.singleitem .details p .link-less,
.singleitem .details .public-notes,
.singleitem .details .private-notes {
  font-size:9px;
  text-transform:uppercase;
  font-weight:bold; 
  text-decoration: none;
  color: #036290;
}
.singleitem .details p .link-less { 
  padding-right: 4px;
}
.singleitem .details .public-notes,
.singleitem .details .private-notes { 
  padding-left: 5px;
}
.singleitem .buttons {
  float:right; 
  visibility: hidden;
}
.singleitem .buttons ul .btn-li {
  display:inline-block;
  font-size:9px;
  line-height:20px;
  font-weight:bold;
  padding:0px 10px 0 0;
  position:relative;
  height:20px;
}
.singleitem .buttons ul .btn-a { 
  float:left; 
  display:inline; 
  background: #747474;
  color:#c45027; 
  text-decoration:none; 
  padding:0 9px; 
  position:relative; 
  color: #FFF;
  font-weight: bold;
}
.singleitem .buttons ul .btn-a-active {
  background: #333;
}

/* Right Panel */
.right_panel {
  float: right;
  clear: right;
  background: #FFF;
  opacity: 0.0;
  margin-top: 5px;
  width: 28%;
  display: none;
}
.right_panel h3 {
  background: #c3c3c3;
  color: #000;
  padding: 5px 10px;
  font-size: 12px;
  margin: 5px;
}
.right_panel h5 {
  margin: 5px 0px;
}
#stats {
  display: block;
  opacity: 1.0;
}
#stats .stats_panel {
  padding: 10px;
}
#stats .stats_panel a {
  text-decoration: none;
  color: #676767;
}
#stats .stats_panel .barcode {
  padding-bottom: 10px; 
}
#stats .stats_panel p {
  padding-bottom: 5px;
}
#stats .stats_panel p label {
  font-weight: bold;
}

/* New selectobx */
.jsb { 
  position:relative; 
  height:19px; 
  background:#FFF; 
  border:1px solid #FFF; 
  padding: 3px 10px 3px 0px;
  float: left; 
  display: inline; 
  width:86px !important;
  text-transform: uppercase;
}
.jsb .jsb-currentItem { 
  display:block; 
  font-size:9px; 
  line-height:20px; 
  color:#333;
  font-weight:bold; 
  padding:0 8px; 
  background:url(/images/arrow-search.png) right 50% no-repeat; 
}
.jsb .jsb-moreButton { 
  position:absolute; 
  top:0; 
  left:0; 
  width:86px;
  height:25px; 
  cursor:pointer; 
  background:url(/images/ui/transparent.gif);
}
.jsb .jsb-list {
  position:absolute;
  top:20px;
  left:-1px; 
  width:86px !important;
  background:#FFF;
  border:1px solid #000;
  overflow:auto;
  display:none;
  z-index: 10;
}
.jsb .jsb-list .jsb-item { 
  display:block; 
  font-size:9px; 
  line-height:20px; 
  color:#333;
  font-weight:bold; 
  padding:0 8px; 
  cursor:default;=
}

/* ui tabs */
.ui-widget-content {
  padding: 0px;
  border: none;
}
.ui-tabs {
  padding: 0px;
}
.ui-tabs .ui-tabs-nav {
  background: none;
  border: none;
  padding: 0px;
}
.ui-tabs .ui-tabs-nav .ui-state-default {
  background: #b7b7b7;
  color: #000;
  border: 1px solid #ccc;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
}
.ui-tabs .ui-tabs-nav li {
  margin: 0px;
}
.ui-tabs .ui-tabs-nav .ui-state-default a {
  color: #000;
}
.ui-tabs .ui-tabs-nav .ui-state-active {
  background: #FFF;
}

/* Article Generic */
.singleitem article { 
  font-size:11px; 
  line-height:16px;
  color:#000; 
  padding:13px 9px 0 35px; 
  height:100%; 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #FFF;
}
.singleitem article tt { font-family: Verdana, Arial, Helvetica, sans-serif; display: inline; }
.singleitem article .chorus { text-align:center; padding-bottom:16px; }
.singleitem article p { padding-bottom:16px; }
.singleitem article p em { }
.singleitem article p a { color:#336699; }
.singleitem article p a.hint { color:#669900; }
.singleitem article p strong { font-weight:bold; } 
.singleitem article h1, 
.singleitem article h2, 
.singleitem article h3, 
.singleitem article h4 { margin-bottom: 1.0em; }
.singleitem article blockquote p {
  margin-left: 0px;
  margin-bottom: 16px;
  padding-bottom: 0px;
}

/* Page */
#page { display:block; padding:11px 7px; position:relative; z-index:1; height:100%; }
#page .description { border:1px solid #ff8b11; background: #ffa63f url(/images/ui/orange_bg.png) 0px 0px repeat-x; line-height:30px; display:block; }
#page .description { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#page .description { padding-left:27px; }
#page .description h2 { display:inline; font-size:15px; line-height:20px; color:#fff; width: 600px; padding: 5px 0px; }

#page .content {
  padding: 20px 27px;
}

#results .jsb {
  width: 200px !important;
  padding-right: 3px;
}
#results .jsb .jsb-moreButton {
  width: 200px;
}
#results .jsb .jsb-currentItem {
  background: url(/images/right-arrow.png) right 5px no-repeat;
}
#results .jsb .jsb-list {
  width: 200px !important;
}

.link-remix,
.link-copy {
  color: #ef3c24;
}
.link-add {
  color: #99ca3c;
}
.link-bookmark {
  color: #5590cc;
}

/* Lineage */
ul.lineage {
  padding-left: 15px;
  list-style-type: disc;
  line-height: 18px;
}
ul.lineage a {
  text-decoration: none;
  color: #676767;
}
ul.lineage #current_marker,
ul.lineage .current > a {
  color: #679D2E;
}
