<% if @single_resource && [Playlist, Collage].include?(@single_resource.class) -%>
<div id="font-size-popup">
  <div id="fontface">
    <a href="#" data-value="1.0">font1</a>
    <a href="#" data-value="1.3">font2</a>
    <a href="#" data-value="1.6">font3</a>
  </div>
  <div id="fontsize">
    <a href="#" data-value="1.0">small</a>
    <a href="#" data-value="1.3">medium</a>
    <a href="#" data-value="1.6">large</a>
    <a href="#" data-value="1.9">extra-large</a>
  </div>
</div>
<% end -%>
